header {
    height: 130px;
    background-color: #9cd6f4;
    background-image: url(../img/pattern.png);
    background-size: 575px auto;
}

#logo {
    height: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
}

main {
    padding: 40px 20px;
    margin: auto 10%;
}


h1 {
    margin: 0;
}

#link {
    text-decoration: solid;
    color: rgb(78, 181, 255)
}

#author {
    font-size: 14px;
    color: grey;
}

#date {
    font-size: 11px;
    color: grey;
}

figure {
    margin-left: 0;
    margin-top: 25px;
}

figure p {
    font-family: "Slabo 27px", serif;
    margin-top: 0;
    font-size: 12px;
}

.main-content {
    font-size: small;
}

.main-content strong {
    background-color: yellow;
    font-weight: normal;
}

.list {
    padding-left: 10px;
}

table {
    margin-bottom: 40px;
}

thead {
    background-color: #7fa6fb;
    color: white;
}

.dark-row {
    background-color: #dfe5f2;
}

.th-1-2 {
    width: 470px;
}

.th-3 {
    width: 940px
}

footer {
    background-color: #313a6b;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px;
}