header {
    height: 130px;
    background-color: #9cd6f4
}

#logo {
    height: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
}

main {
    padding: 40px 20px;
}


h1 {
    margin: 0;
}

#link {
    text-decoration: solid;
    color: rgb(78, 181, 255)
}

div {
    color: grey;
}

#autore {
    font-size: 14px;
}

#data {
    font-size: 11px;
}

figure {
    margin-left: 0;
    margin-top: 25px;
}

figure p {
    font-family: "Slabo 27px", serif;
    margin-top: 0;
    font-size: 12px;
}

.main-content {
    font-size: small;
}

.main-content strong {
    background-color: yellow;
    font-weight: normal;
}

.list {
    padding-left: 10px;
}

footer {
    background-color: #313a6b;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px;
}